# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Javascript
node_modules/
dist/
build/
.DS_Store

# Database
billing.db
backend/billing.db
*.sqlite3

# Invoices
backend/invoices/*.png
*.png

# Logs
*.log

# IDE
.vscode/
.idea/
.qodo/
